### 1. Creating Variables
* Save the number 15 to a variable named `a`.
* Save the number 2.5 to a variable named `b`.

### 2. Functions
* Create a function that adds `a` and `b` and returns the result
* Create a function that subtracts `b` from `a` and returns the result
* Create two functions that return `0` in two different ways.

### 3. DataFrames
* import the module pandas as pd
* Read the CSV 'mbtzsum' (in working directory) to a variable named tradezones.
HINT : pd.read_csv('mbtzsum.csv') will pull the file into a pandas dataframe.
print out the first 5 rows of tradezones.

### 4. Booleans
* Save `True` to a boolean `bix`
* Create function with one argument `bix` with the following result:
    * `prints` `a` if `bix` is `True`
    * `prints` `b` if `bix` is `False`
* Assign a variable `bix_false` to be False without actually saving `False` to `bix_false`.
    * HINT : use `a` and `b`, `<`, or `>`
* Assign a variable `bix_true` to be False without actually saving `True` to `bix_true`.
    * HINT : use `a` and `b`, `<`, or `>`
* Test `bix_true` and `bix_false` both in jupyter outputs and the function result

### 5. Column / Series Operations
* Multiply columns `hh_cy` and `pct_white_non_hispanic`
* Save a multiplication of columns `pop_cy` and `pct_white_non_hispanic` to a new column named `'num_white_non_hispanic'`.
* Take columns `'mpitradezone'`, `'dmaname'`, `'pop_cy'`, `'num_white_non_hispanic'` to a variable `rel_cols`
* print out the unique `dmaname` values in `rel_cols`
* fill nans in `dmaname` with an empty string (`''`)
    * HINT : be sure to save over column `dmaname`
* print out the number of rows and columns in `rel_cols`

### 6. Boolean Indexing
* Find all rows where `dmaname` has Florida (FL) in the name (DMA is in Florida)
* Find the number of tradezones where `dmaname` has Florida (TN) or Tennessee (TN) (DMA is in FL or TN)